@model IEnumerable<SplitSmart.Models.GroupModel>

@{
    ViewData["Title"] = "Groups";
}

<h3 class="centertitle">Groups</h3>

<p>
    <a class="centertitle" asp-action="Create">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
